In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../input/task2_test.csv")

In [3]:
df.head()

,people_ID,Region,Gender,Married,Children,Occupation,Mode_transport,comorbidity,Age,Coma score,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,5942,Delhi,Female,YES,2,Driver,Public,Diabetes,52,3,...,153,196,240,85,53,17,3,3900000,1300000,1
1,18664,Delhi,Male,YES,2,Legal,Walk,Diabetes,53,11,...,95,138,241,81,61,2,5,1800000,1300000,1
2,5603,Delhi,Female,YES,2,Sales,Car,Diabetes,35,9,...,40,166,236,88,47,24,3,5000000,2000000,2
3,5649,Delhi,Female,YES,2,Sales,Car,None,31,12,...,78,83,211,87,52,13,6,3100000,600000,2
4,5099,Delhi,Female,YES,2,Business,Car,Diabetes,51,6,...,109,207,312,94,68,39,5,2300000,1500000,1

In [4]:
not_req = ["Designation", "Name", "cases/1M", "Deaths/1M"]
df = df.drop(not_req, axis = 1)
df.to_csv("../input/task2_test.csv", index = False)

KeyError: "['Designation' 'Name' 'cases/1M' 'Deaths/1M'] not found in axis"