In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../input/train.csv")

In [9]:
orig_values = df.Diuresis.values

In [7]:
diuresis_df = pd.read_csv("../input/diuresis_train.csv")
diuresis_df.head()

,people_ID,20-Mar-20,21-Mar-20,22-Mar-20,23-Mar-20,24-Mar-20,25-Mar-20,26-Mar-20
0,1,441,544,670,821,"1,002","1,216","1,473"
1,2,151,197,253,322,400,493,607
2,3,416,515,632,777,948,"1,150","1,396"
3,4,410,506,621,762,928,"1,127","1,368"
4,5,390,483,595,730,893,"1,084","1,316"

In [10]:
new_values = diuresis_df["20-Mar-20"].values
new_values

array([441, 151, 416, ..., 177, 352, 181])

In [12]:
len(orig_values), len(new_values)

(10714, 10714)

In [13]:
df.loc[:, "Diuresis"] = new_values

In [17]:
df.to_csv("../input/train.csv", index = False)